.DS_Store
.classpath
.project
.pmd
.checkstyle
*.iml
*.ipr
*.iws
*.log
*.jsonl
build.browser.properties
.vscode/*
out/
.sonar/
.settings/
.gradle/
target/
logs/
build/
bin/
classes/
generated/
__generated__/
!generated/.openapi-generator-ignore
*.zip
*.tgz
*.class

structurizr*.json

#antora entries
node_modules/
.cache/
npm-cache/

# scans
fossa
JFrogXRayScanReport*.pdf

.docker
